<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="dbconfig.txt"/>
	<typeAliases>
	<typeAlias type="com.example.region.dto.Region" alias = "region"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mybatis/mapper/regionMapper.xml"></mapper>
	</mappers>
</configuration>